---
# Based on ansible-lint config
extends: default

ignore: |
  .cache

rules:
  braces:
    max-spaces-inside: 0
    level: error
  brackets:
    max-spaces-inside: 0
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
  indentation:
    spaces: consistent
    indent-sequences: true
  comments: disable
  comments-indentation: disable
  document-start: enable
  empty-lines:
    max: 3
    level: error
  hyphens:
    level: error
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: enable
  truthy: disable
